<%- include('includes/header.ejs'); %>

<section class="content">
  <section class="sidebar">
    <nav class="sub-nav">
      <ul>
        <li><a href="#objectives">Objectives</a></li>
        <li><a href="#history">History</a></li>
        <li><a href="#committee">Committee</a></li>
        <li><a href="#volunteers">Volunteers</a></li>
      </ul>
    </nav>
  </section>
  <section class="main">
    <h2 class="title">About us</h2>
    <%- data.intro %>    
    <%- include('about/objectives.ejs', {data:data.objectives}); %>
    <%- include('about/history.ejs', {data:data.history}); %>
    <%- include('about/committee.ejs', {data:data.committee}); %>
    <%- include('about/volunteers.ejs', {data:data.volunteers}); %>
  </section>  
</section>

<%- include('includes/footer.ejs'); %>